* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../Diseño/Pickle_Rick.jpg);
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
    color: #fff;
}

table {
    background-color: rgba(255, 255, 255, 0.50);
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
    margin: 0 auto;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
    
}

.container_pag{
    height: 50px;
    margin: 0 auto;
}

.container_pag__buttons{
    text-align: center;
}

.buttonClass{
    width: 100px;
    height: 30px;
    font-size: 14px;
    padding: 5px;
    background: white;
    font-family: 'Courier New', Courier, monospace;
}

td a{
    text-decoration: none;
}